@import "tailwindcss";

@theme {
  --color-jardin-primary: #166534;
  --color-jardin-secondary: #15803d;
  --color-jardin-accent: #facc15;
  --color-jardin-bg: #f3f4f6;
  --color-jardin-text: #1f2937;
}

/* Custom Base Styles */
@layer base {
  body {
    background-color: var(--color-jardin-bg);
    color: var(--color-jardin-text);
  }
}